.footer {
	font-size: em(14);
	position: relative;
	//padding-top: 40px;

	&__info {
		background-color: $c-orange;
		padding: 30px 0 20px;

		&--container {
			@include make-container();
			@include make-container-max-widths();
			
			@include media-breakpoint-up(lg) {
				display: flex;
				justify-content: space-between;
				padding: 0;
			}			
		}
	
		i.icon {
			background: $c-orange-light;
			height: 40px;
			width: 50px;
			position: relative;

			margin-right: 50px;

			&:after {
				content: '';
				width: 0;
				height: 0;
				border-top: 40px solid $c-orange-light;
				border-right: 30px solid transparent;
				position: absolute;
				right: 0;
				top: 0;
				transform: translateX(100%);
			}

			&:before {
				content: '';
				height: 40px;
				width: 40px;
				
				transform: scale(.5);
				transition: all .3s;
				position: absolute;
				right: 5px;
				top: 0;
			}

			&.phone {
				&:before {
					background-image: url(icons/phone.svg);
					background-size: cover;
				}
			}

			&.email {
				&:before {
					background-image: url(icons/mail.svg);
					background-size: cover;
				}
			}

			&.hours {
				&:before {
					background-image: url(icons/clock.svg);
					background-size: cover;
				}
			}
		}

		&--phone, &--email, &--hours {
			display: flex;
			color: $c-white;
			padding: 10px 0;

			h6 {
				text-transform: uppercase;
				font-size: rem(14);
				color: $c-grey-lighter;
			}

			@include media-breakpoint-up(lg) {
				padding: 25px 0;
				border-left: 1px solid $c-orange-light;
			}
		}

		&--phone, &--email {
			a {
				color: $c-white;
				text-decoration: none;
				transition: color .2s;

				&:hover {
					color: $c-blue-dark;
				}
			}

			p {
				margin: 0;
			}
		}

		&--hours {
			p {
				margin: 0;
			}	
		}

		@include media-breakpoint-up(lg) {
			padding: 0;
		}
	}


	&__main {
		background-color: $c-blue-dark;
		padding: 50px 0;
		
		&--container {
			@include make-container();
			@include make-container-max-widths();
		}

		&--row {

			@include media-breakpoint-up(lg) {
				@include make-row();
				justify-content: space-between;
			}
		}


		h4 {
			font-size: rem(18);
			text-transform: uppercase;
			color: $c-grey-lighter;

			@include media-breakpoint-up(lg) {
				margin-bottom: 30px;
			}
		}

		p {
			color: $c-grey-light;
		}

		&--block {
			@include media-breakpoint-up(md) {
				display: flex;
			}

			@include media-breakpoint-up(lg) {
				justify-content: space-between;
				flex-basis: 40%;
			}
		}

		&--category {
			@include media-breakpoint-up(md) {
				margin-left: 150px;
			}

			@include media-breakpoint-up(lg) {
				margin-left: 0;
			}
		}

		&--block, &--about, &--contact {
			margin-bottom: 30px;

		}

		&--about {
			.appointment {
				padding: 10px 0;
			}

			@include media-breakpoint-up(lg) {
				flex-basis: 25%;
			}
		}

		&--menu {
			margin-bottom: 25px;

			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}


		&--menu, &--category {
	
			@include media-breakpoint-up(md) {
				padding-left: 30px;
			}

			.menu {
				list-style: none;
				padding: 0;
				margin: 0;
				width: 100%;

				ul {
					margin: 0;
				}
	
				li {
					margin-bottom: 8px;
					margin-right: 20px;
					position: relative;
					margin-left: 30px;

					&:before {
						content: '';
						height: 50px;
						width: 50px;

						background-image: url(icons/tick.svg);
						background-size: cover;

						transform: scale(.25);
						
						transition: all .3s;
						position: absolute;
						left: -45px;
						top: -17px;
					
					}
	
					@include media-breakpoint-up(lg) {
						min-width: 150px;
					}
	
					a {
						color: $c-grey-light;
						text-decoration: none;
						display: block;
						transition: all .2s linear;
						line-height: 16px;
	
						&:hover {
							color: $c-orange-light;
							text-decoration: none;
						}
					}
				}
			}
		}

		&--contact {

			@include media-breakpoint-up(lg) {
				flex-basis: 25%;
			}

			ul {
				margin: 0;
				padding: 20px 0;
				text-align: center;
			}
   
			li {
				display: inline-block;
				position: relative;
				list-style-type: none;
				padding: 0 10px;
   
				&:first-child {
					padding-left: 0;
				}
   
				&:last-child {
					padding-right: 0;
				}
   
				a {
					position: relative;
					display: block;
					width: 40px;
					height: 40px;
					overflow: hidden;
					text-align: center;

					border: 1px solid $c-bluewood;
					border-radius: 50%;
					background-color: $c-bluewood;
   
					opacity: 1;
					transition: opacity .2s linear;
   
					&:after {
						content: '';
						height: 30px;
						width: 30px;
						transform: scale(.8);
						transition: all .3s;
						position: absolute;
						left: 4px;
						top: 4px;
					}

					&:hover {
						opacity: 0.7;

						&:after {
							transform: scale(.9);
						}
					}
				}

				@include media-breakpoint-up(lg) {
					padding: 0;
				}

				@include media-breakpoint-up(xl) {
					padding: 0 5px;
				}

   
				&.facebook {
					a {
						&:after {
							background-image: url(icons/facebook.svg);
							background-size: cover;
						}
					}
				}
				&.twitter {
					a {
						&:after {
							background-image: url(icons/twitter.svg);
							background-size: cover;
							
						}
					}
				}
				&.linkedin {
					a {
						&:after {
							background-image: url(icons/linkedin.svg);
							background-size: cover;
						}
					}
				}
				&.instagram {
					a {
						&:after {
							background-image: url(icons/instagram-sketched.svg);
							background-size: cover;
						}
					}
				}
				&.youtube {
					a {
						&:after {
							background-image: url(icons/youtube.svg);
							background-size: cover;
						}
					}
				}
			}
		}
	}

	&__copyright {
		background-color: $c-rhino;
		padding: 20px 0;

		&--container {
			@include make-container();
			@include make-container-max-widths();

			@include media-breakpoint-up(lg) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0;
			}
		}

		&--text {
			color: $c-grey-light;

			p {
				margin: 0;
				font-size: rem(14);

				@include media-breakpoint-up(lg) {
					font-size: rem(12);
				}
			}
		}

		&--menu {
			ul {
				margin: 0;
				padding: 0;
				display: flex;

				li {
					list-style-type: none;
					padding: 20px 20px 0 0;

					a {
						color: $c-grey-light;
						text-decoration: none;
						display: block;
						transition: all .2s linear;
						line-height: 16px;
						font-size: rem(14);
		
						&:hover {
							color: $c-orange-light;
							text-decoration: none;
						}
					}

					@include media-breakpoint-up(lg) {
						padding: 0 0 0 20px;

						a {
							font-size: rem(12);
						}
					}
				}
			}
		}
	}
}
