

// Arvalet
$c-blue: #2a2a4c;
$c-blue-light: #01416d;
$c-blue-dark: #141a30;

$c-orange: #ce371f; 
$c-orange-light: #d46c52;

$c-red: #b10101;

$c-grey-light: #b3b3b3;
$c-grey-lighter: #dadadd;

$c-rhino: #29335c;
$c-bluewood: #2f4858;

$c-white: #FFFFFF;
$c-gold: #ffba08;


// /**
// Colour Palette
// Reference: http://chir.ag/projects/name-that-color
//  */
// $c-port-gore  : #231F48; // Primary
// $c-red-violet : #CF118C; // Secondary

// // Header
// $c-white      : #FFFFFF; // Body/Base

// // Footer
// $c-cod-gray   : #0E0E0E; // Background
// $c-wild-sand  : #F4F4F4; // Body/Base

// // Typography
// $c-abbey      : #4C4C4E; // Body/Base
// $c-shark      : #262729; // Headings
 //$c-thunder    : #312626; // Headings (Alt)

// // Buttons
// $c-pumice     : #D1D4D3; // Border
// $c-dove-gray  : #666666; // Body/Base

// /** Set brand guideline colors **/
// $c-primary    : $c-port-gore;
// $c-secondary  : $c-red-violet;


$browser-context: 20;